
body {
	margin: 50px;
	background: #2980b9;
	font-family: sans-serif;
	text-align: center;
}

a.button {
	background: #e74c3c;
	color: white;
	padding: 20px;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	border-radius: 10px;
/*	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;*/
}