---------------------------------------------------------------------------------------------
///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// STUDY CSS ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
---------------------------------------------------------------------------------------------
/-******************************************* Ghi Chú *******************************************-/
/* inherit and initial*/
inherit; là thừa hưởng thẻ cha.
initial; là mất đi các thuộc tính trở về lúc đầu.
/* utf trong css  */
@charset "utf-8";
/* chọn 1 input */
input[type=submit]
/* ưu tiên trong css */
!important;
/* display */
display: inline;		không ngắt dòng -> default
	   : block;			một khối
	   : inline-block;	một khối trên 1 dòng
/-******************************************* Viết Tắt Trong CSS *******************************************-/
-> margin: 20px auto 20px auto; <=> margin: 20px auto 20px; <=> margin: 20px auto;
-> padding: ^^^
-> background: white url(image/ui.png) repeat-x top left scroll;
	- color
	- image
	- repeat
	- position
	- attachment
-> font: normal(italic) normal(small-caps) normal(bold) 18px/1.4em tohama, times;
	- style
	- variant
	- weight
	- size/line-height
	- family
-> border: 1px solid white;
	- width
	- style
	- color
-> list-style: disc inside(outside) url(image/ui.png);
	- type
	- position
	- image
/-******************************************* CSS *******************************************-/
Thuộc tính						Ví dụ										Mô tả
----------						-----										-----
border-collapse  		border-collapse: collapse;          Chỉ còn đường viền duy nhất trong table
border-spacing  		border-spacing: 10px 20px;      	Khoảng cách đường viền trong table
caption-side			caption-side: bottom;				Xác định vị trí một chú thích của table

clip					clip: rect(0,0,50px,10px);			Xác định lại đoạn cho thành phần(img) add position: absolute;
content					content: "."						Sử dụng kèm với bộ chọn ":before", ":after" để chèn nội dung được tạo. 
								(	+:after	    p:after	    Thêm nội dung ngay phía sau thành phần.			)
								(	+:before	p:before	Thêm nội dung ngay phía trước thành phần.		)
								:focus		input:focus		Thành phần sẽ focus khi được chọn.

cursor					cursor: pointer;					Xác định kiểu con trỏ chuột được hiển thị.
direction				direction: ltr;						Xác định hướng cho văn bản.
overflow				overflow: scroll;					Xác định điều gì sẽ xảy ra nếu một thành phần box tràn nội dung.
visibility				visibility: visible;				Xác định thành phần có được nhìn thấy hay không.
white-space				white-space: nowrap;				Xác định khoảng trắng có bên trong thành phần được xử lý như thế nào.
 
/-******************************************* CSS3 *******************************************-/
-moz-    // Firefox 
-o-      // Opera
-webkit- // Chrome, Safari

/-******************************************* Css3 A *******************************************-/
*************************************
*******************/* font-smoothing (mịn chữ) */
*************************************
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
*************************************
-> *******************/* Background gradient */
-------------------------------------
div {
height: 200px; 
width: 200px; 
background: linear-gradient(to top, #FF0000 0%, #330000 100%);  // bottom -> top 
background: -moz-linear-gradient(to top, #FF0000 0%, #330000 100%); 
background: -o-linear-gradient(to top, #FF0000 0%, #330000 100%); 
background: -ms-linear-gradient(to top, #FF0000 0%, #330000 100%); 
background: -webkit-linear-gradient(bottom, #FF0000 0%, #330000 100%);
}
...
*************************************
*******************/* opacity */
*************************************
div {
opacity: 0.6; // Độ trong suốt của thành phần 
}
*************************************
*******************/ text-shadow */
*************************************
div {
text-shadow: 0 0 3px blue;	// width -> height -> mờ -> màu
// Add
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;	// nhiều màu
}
*************************************
-> *******************/* box-shadow */
-------------------------------------
div {
-moz-box-shadow: 5px 10px 5px 10px #000;
-webkit-box-shadow: 5px 10px 5px 10px #000;
box-shadow: 5px 10px 5px 10px #000;  // width -> height -> mờ -> độ lan -> màu
// Add
box-shadow: 10px 10px #cc0000 inset; // Thay đổi bóng từ ngoài tối vào trong sáng
}
*************************************
-> *******************/* box-Sizing */
-------------------------------------
div {
box-sizing: border-box; // width and height đã bao gồm border
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
*************************************
-> *******************/* border-radius */
-------------------------------------
div {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
// Or
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
/-******************************************* Css3 B *******************************************-/
*************************************
*******************/* Text */
*************************************
/--------/* text-overflow (giới hạn và thay text) */--------/
text-overflow: clip;       // Xén bớt vùng text
text-overflow: ellipsis;   // giới hạn vs thay = 3 chấm ! chỉ được trên 1 dòng 
text-overflow: 'còn tiếp'; // Cắt một đoạn text và thay bằng một chuỗi khác

/--------/* word-wrap (từ xuống hàng) */--------/
word-wrap: break-word; // Những từ quá dài sẽ xuống hàng.
word-wrap: normal;     // mặc định cho word-wrap.

/--------/* word-break (chữ xuống hàng) */--------/
word-break: break-all; // hết đoạn ngắt chữ xuống hàng
word-break: hyphenate; // Một từ xuống hàng tại gạch nối thích hợp
word-break: normal;    // mặc định cho một từ
*************************************
-> *******************/* Border-img */
-------------------------------------
#borderimg {
border: 10px solid transparent;
-webkit-border-image: url(border.png) 30 round; // Safari 3.1-5
-o-border-image: url(border.png) 30 round;      // Opera 11-12.1
border-image: url(border.png) 30 round; 
// round(lặp lại img) <=> stretch(kéo dài img)
}
*************************************
*******************/* Background nhiều img */
*************************************
div {
background-image: url(img_flwr.gif), url(paper.gif);
background-position: right bottom, left top;
background-repeat: no-repeat, repeat;
...
}
*************************************
-> *******************/* Column */
-------------------------------------
div {
column-count: 3;          // chia cột trong div
-moz-column-count: 3;
-webkit-column-count: 3;
column-gap: 40px;         // Khoảng cách giữa cột
-webkit-column-gap: 40px;
-moz-column-gap: 40px;
column-rule-style: solid; // style cho cột
column-rule-width: 1px;   // width cho cột
column-rule-color: red;   // màu cho cột
// Or
-webkit-column-rule: 1px solid red; // Chrome, Safari, Opera
-moz-column-rule: 1px solid red;    // Firefox
column-rule: 1px solid red;
}
*************************************
-> *******************/* transition (chuyển đổi khi có một hành động) */
-------------------------------------
div {
width: 100px;
height: 100px;
-moz-transition: height 2s;
-webkit-transition: height 2s;
-o-transition: height 2s;
}

// Add 
#div1 {transition-timing-function: linear;}      // chậm -> nhanh -> chậm (MD)
#div2 {transition-timing-function: ease;}        // nhanh đều 
#div3 {transition-timing-function: ease-in;}     // đầu chậm
#div4 {transition-timing-function: ease-out;}    // kết chậm
#div5 {transition-timing-function: ease-in-out;} // chậm đều
// Viết tắt
div {
transition-property: width; 
transition-duration: 2s;
transition-timing-function: linear;
transition-delay: 1s;
}
// Or
div {
transition: width 2s linear 1s;
}
*************************************
-> *******************/* transform (chuyển đổi 2 chiều, 3 chiều, có thể là xoay, tỷ lệ, di chuyển, nghiêng, ...) */
-------------------------------------
div {
width: 100px;
height: 100px;
transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-webkit-transform: rotate(-15deg);
-o-transform: rotate(-15deg);	
}
*************************************
*******************/* Animations (xác định một chuyển động) */
*************************************
div {
animation-name: example;      // tên
animation-duration: 4s;       // chạy 4s
animation-delay: 2s;          // Delay
animation-iteration-count: 3; // infinite(~)
animation-direction: reverse; // reverse(chạy ngược) or alternate(chay 1v sau đó ngược lại )
}

// Add
#div1 {animation-timing-function: linear;}      // chậm -> nhanh -> chậm (MD)
#div2 {animation-timing-function: ease;}        // nhanh đều
#div3 {animation-timing-function: ease-in;}     // đầu chậm
#div4 {animation-timing-function: ease-out;}    // kết chậm
#div5 {animation-timing-function: ease-in-out;} // chậm đều
// Viết tắt
div {
animation-name: example;
animation-duration: 5s;
animation-timing-function: linear;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
// Or 
div {
animation: example 5s linear 2s infinite alternate;
}
*************************************
*******************/* User Interface (Giao diện người dùng) */
*************************************
div {
resize: horizontal; // thay đổi box width 
- vertical          // thay đổi box height 
- both              // thay đổi cả 2
overflow: auto;
}
// thêm 1 phác thảo ngoài như padding 
div {
border: 1px solid black;
outline: 1px solid red;
outline-offset: 15px;
}
*************************************
*******************/* Css 2D and Css 3D (xoay chữ xoay box kiểu 2D, 3D)*/
*************************************
..
...
/-******************************************* ADD Font *******************************************-/
@font-face {
font-family: 'MyriadPro-Regular';
src: url('fonts/MyriadPro-Regular.eot');
src: url('fonts/MyriadPro-Regular.eot?888#iefix') format('embedded-opentype'),
	 url('fonts/MyriadPro-Regular.woff') format('woff'),
	 url('fonts/MyriadPro-Regular.ttf') format('truetype'),
	 url('fonts/MyriadPro-Regular.svg#Soymilk') format('svg');
font-weight: normal;
font-style: normal;
}
/-******************************************* Bộ Chọn *******************************************-/
:first-child         // chọn con đầu tiên và cha duy nhất
:last-child          // chọn con cuối cùng và cha duy nhất

:first-of-type       // con đầu tiên và các cha
:last-of-type        // con cuối cùng và các cha

:nth-child(even)     // even là chẵn
:nth-child(odd)      // odd là lẻ

:nth-child(n)        // Chọn thành phần thứ "n" trong cha và tính từ đầu
:nth-last-child(n)   // Chọn thành phần thứ "n" trong cha và tính từ cuối

:nth-of-type(n)      // Chọn thành phần thứ "n" tính từ đầu 
:nth-last-of-type(n) // Chọn thành phần thứ "n" tính từ cuối
