---------------------------------------------------------------------------------------------
///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// Transition goood ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
---------------------------------------------------------------------------------------------
/-******************************************* Transition *******************************************-/
/// http://thachpham.com/web-development/html-css/11-bo-suu-tap-hieu-ung-css3-dep.html \\\
*************************************
*******************/* wow (show img, box... đẹp khi kéo web ) */
*************************************
ADD// https://www.izwebz.com/css/tao-hieu-ung-dep-mat-khi-scroll-voi-wow-js/
-- http://www.streamlineicons.com/index-logos.html?utm_expid=78914289-33.5euYGEy2QpieTLGamJkUoQ.1
-- http://nastyicons.com/
-- http://mynameismatthieu.com/WOW/index.html

VD: https://daneden.github.io/animate.css/
*************************************
-> *******************/* Effeckt ( all hiệu ứng Modal Box đẹp cho web ) */
*************************************
VD: http://h5bp.github.io/Effeckt.css/

*************************************
*******************/* Hover (hover box, chữ... đẹp) */
*************************************
VD: http://ianlunn.github.io/Hover/
*************************************
-> *******************/* Image hover effect ( hover ảnh  ) */
*************************************
VD: http://dinolatoga.com/demo/webkit-image-hover-effects/

*************************************
-> *******************/* Liffect ( hiệu ứng đẹp vs list ảnh ) */
*************************************
VD: http://ademilter.com/lab/liffect/
/* select online */

*************************************
-> *******************/* 16 hiệu ứng đổ bóng bằng CSS3 */
*************************************
VD: http://cssdeck.com/labs/16-box-shadows-to-save-your-time

*************************************
*******************/* animatable ( show chữ đẹp theo WOW )*/
*************************************
VD: http://leaverou.github.io/animatable/

*************************************
*******************/* fancyInput ( gõ text trong input and textarea ) */
*************************************
VD: http://dropthebit.com/demos/fancy_input/fancyInput.html
/**/

*************************************
-> *******************/* Morf ( hoán đổi vị trí đẹp ) */
*************************************
VD: http://www.joelambert.co.uk/morf/
/**/

*************************************
-> *******************/* Magic ( hiệu ứng chuyển động đẹp ) */
*************************************
VD: http://www.minimamente.com/example/magic_animations/
/**/

*************************************
-> *******************/* css accordion ( tab mượt trong box chỉ dùng css ) */
*************************************
VD: http://paulrhayes.com/experiments/accordion/#one

